*{
    box-sizing: border-box;
}

#textEditor{
    width: 100%;
    height: calc(100vh - 70px);
}
#ribbon{
    height: auto !important;
    min-height: 55px !important;
    padding: 0 57px;
    background-color: #282828;    
    color: white;
    border-radius: 8px 8px 0px 0px;
    box-sizing: border-box;
}
#ribbon > button{
    position: relative;
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    border:none;
    border-radius: 5.5px;
    outline: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    cursor: pointer;
}
#ribbon > button:hover{
    background-color:rgb(20, 90, 70);
    transition: all 0.3 linear 0s; 
}
#richTextArea{
    border: 2px solid rgb(40, 110, 89);
    height: 100%;
    width: 100%;
}
#WYSIWYG{
    height: 100%;
    width: 100%;
}

input[type="color"]{
    border: none;
    outline: none;
    background-color: transparent;
}
#textArea{
    height: 100%;
    width: 100%;
}
.topright {
    position: absolute;
    top: 15px;
    right: 16px;
    width: 40px;
    height: 40px;
  }